@import '@servicenow/sass-kit/host';

.bing-wrapper{
    background-color: #FFCCFF;
    padding:5px;
    border: 2px solid fuchsia;
    width: 100%;
}

now-textarea{
background:chocolate;
width: 100%;

}
